graft docs
graft jinn
graft tests
graft requirements


include .bumpversion.cfg
include .coveragerc
include .editorconfig
include .isort.cfg
include setup.cfg

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include MANIFEST.in
include README.rst
include tox.ini
.travis.yml

prune docs/_build
global-exclude *.py[cod] __pycache__ *.so *.dylib
